main.sub-menu {
    width: 100%;
    animation: fade-in 0.3s ease-in-out;
    background-color: white;
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    section {
        padding: 2rem 0 5rem 0;
     
    }

    // News section START
    .news {
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        animation: fade-in 1.2s ease-in-out;
        .arrival {
            display: flex;
            flex-direction: column;
            a {
                font-size: 10px;
                color: var(--color-primary);
                
                img {
                    width: 220px;
                    height: 240px;
                }
            }
            a.tag {
                padding-left: 5px;
            }
        }
    }
    // News section END

    // Mens section START
        .mens {
            display: flex;
            .lists {
                display: flex;
                justify-content: space-between;
                width: 70%;
                padding-right: 4rem;
                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    strong {
                        font-size: 14px;
                    }
                    li {
                       
                      a {
                        font-size: 12px;
                          color: var(--color-primary);
                      }
                    }
                  }
                 
            }
            .random-mens {
                padding-left: 3rem;
                border-left: 1px solid var(--color-border);
                .arrival {
                    display: flex;
                    flex-direction: column;
                    a {
                        font-size: 13px;
                        color: var(--color-primary);
                        
                        img {
                            width: 220px;
                            height: 240px;
                        }
                    }
                    a.tag {
                        padding-left: 5px;
                    }
                }                    
              }
        }
    // Mens section END

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}