main.nav {
    nav {
        position: relative;
       .nav-wrapper {
    
        // HEADER SECTION START //
        header {
            display: grid;
            grid-template-columns: 40% 60%;
            margin: 17px 0;
            height: 46px;
            a {
         margin-top: auto;
         color: var(--color-primary);
         font-size: 2.3rem;
         font-weight: 700;
         font-style: italic;
            }
            .controls {
                display: flex;
                align-items: center;
                font-size: 13px;
                border: 1px solid var(--color-border);
                border-radius: 3px;
                .control {
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    gap: 6px;
                    height: 100%;
                    border-right: 1px solid var(--color-border);
                    cursor: pointer;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .control.bag {
                    border: none;
                    padding-left: 28px;
                 
                }
                .control.store {
        
                    padding: 0 25px;
                }
                .control.account {
                    padding: 0 26px;
                    img {
                        width: 21px;
                        height: 21px;
                    }
                }
                .control.search {
                    width: 45%;
                    position: relative;
                    padding: 0 10px;
                    input {
                        width: 100%;
                        border: none;
                    }
                    input[type=text] {
                        border: none;
                        outline: none;
                        padding-left: 2.1rem;
                    }
                    input::placeholder {
                        color: var(--color-border);
                    }
                   
                    img {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
            // HEADER SECTION END //
    
            // MENU SECTION START //
            .menu-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
               
               
                .menu {
                    padding: 13px 0 13px 6px;
                    cursor: pointer;
                    font-size: 13px;
                    text-transform: uppercase;
                    .sub-menu {
                        position: absolute;
                        z-index: 100;
                        top: 104px;
                        background-color: white;
                        width: 100%;
                        left: 0;
                    }
                }
            }
       }
    .motion {
        width: 100%;
        background-color: var(--color-primary);
        color: white;
    
      .container {
        width: 1080px;
        height: 76px;
    
        .swiper {
          display: flex;
            width: 100%;
            height: 76px;
    
            .swiper-wrapper {
                .content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    height: 76px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 13px;
                 }
            }
        
          
        }
    
        .swiper-button-next, .swiper-button-prev {
            display: flex;
            align-self: center;
            position: absolute;
            top: 45%;

            width: 10px;
            height: 10px;
            transform: rotate(-45deg);
            border-right: 1px solid white;
            border-bottom: 1px solid white;
            background-color: transparent;
            color: white;
            cursor: pointer;
            z-index: 1;
          }
          .swiper-button-prev {
            transform: rotate(135deg);
            left: 5px;
          }
          .swiper-button-next {
            transform: rotate(-45deg);
            right: 5px;
          }
    
          
    
            
            
         
        }
        
       
      }
        
       
    }
}
  