* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-primary);
  font-size: var(--font-size);
}

:root {
  --color-primary: #333333;
  --color-secondary: #148fdb;
  --color-border: #c8c8c8;
  --color-gray-light: rgb(172, 172, 172);
  --font-size: 13px;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}
