import React, {useState, useEffect} from 'react'; import './{{pascalCase
  name
}}.scss' // Import modules here // Import components here function{{pascalCase
  name
}}{ return (
<main className="name">

</main>
); } export default
{{pascalCase name}};