.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
    .menu {
        padding: 13px 0 13px 6px;
        cursor: pointer;
        font-size: 13px;
        text-transform: uppercase;
        .sub-menu {
            position: absolute;
            z-index: 100;
            top: 104px;
            background-color: white;
            width: 100%;
            left: 0;
        }
    }
}